<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Conversion</title>
</head>
<body>
<h1>Weight Conversion</h1>
<form action="/weight" method="post">
    <input type="text" name="input" placeholder="Enter the value">
    <select name="from">
        <option value="kg">Kilogram</option>
        <option value="g">Gram</option>
        <option value="mg">Milligram</option>
        <option value="t">Metric Ton</option>
        <option value="lb">Pound</option>
        <option value="oz">Ounce</option>
    </select>
    <select name="to">
        <option value="kg">Kilogram</option>
        <option value="g">Gram</option>
        <option value="mg">Milligram</option>
        <option value="t">Metric Ton</option>
        <option value="lb">Pound</option>
        <option value="oz">Ounce</option>
    </select> <br><br>
    <button type="submit">Convert</button>
</form>
<h2>Result: </h2>
<p th:text="${result} + ' ' +${to}"></p>

</body>
</html>